@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-geist-sans: "Geist Variable";
  --font-geist-mono: "Geist Mono Variable";
  --color-dark: #0c0c0c;
  --color-light: #fafafa;
}

html,
body {
  @apply bg-dark;
  @apply text-light;
}
